<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liangalien.kt.dao.ProjectDAO">
    <sql id="select">
        p.*, cu.nickname as create_by_name, uu.nickname as update_by_name
    </sql>
    <select id="selectById" resultType="com.liangalien.kt.dto.ProjectDTO">
        select
            <include refid="select"></include>
        from kt_project p
        left join kt_user cu on p.create_by=cu.username
        left join kt_user uu on p.update_by=uu.username
        where p.is_deleted=0 and p.id=#{id}
    </select>
    <select id="selectAll" resultType="com.liangalien.kt.dto.ProjectDTO">
        select
            <include refid="select"></include>
        from kt_project p
        left join kt_user cu on p.create_by=cu.username
        left join kt_user uu on p.update_by=uu.username
        where p.is_deleted=0
        <if test="search != null and search.keyword != null">
            and (p.`key` like concat('%', #{search.keyword}, '%') or p.name like concat('%', #{search.keyword}, '%'))
        </if>
    </select>
    <update id="update" parameterType="com.liangalien.kt.dto.ProjectDTO">
        update kt_project
        <set>
            <if test="name != null">
                `name` = #{name},
            </if>
            <if test="isDeleted != null">
                `is_deleted` = #{isDeleted},
            </if>
            <if test="updateBy != null">
                `update_by` = #{updateBy},
            </if>
        </set>
        where id=#{id}
    </update>
    <update id="remove">
        update kt_project set is_deleted=1, update_by=#{updateBy}
        where id=#{id}
    </update>
    <insert id="insert" parameterType="com.liangalien.kt.dto.ProjectDTO">
        insert into kt_project(`key`, name, create_by, update_by)
        values(#{key}, #{name}, #{createBy}, #{createBy})
    </insert>
</mapper>